*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    padding-left: 30px;
    padding-top: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 span{
    color: orange;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

.btn{
    background-color: rgb(200, 132, 4);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}


#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 40px;
    padding-inline: 140px;
    
}

.hero-left{
    width: 50%;
}

.hero-left h2{
    color: orange;
    font-size: 10px;
    padding-bottom: 10px;
}

.hero-left h1{
    font-size: 40px;
    padding-block: 20px;
}

.hero-left h1 span{
    color: orange;
}

.hero-left p{
    font-size: 20px;
    padding-bottom: 20px;
}

.btn2{
    padding: 10px;
    border: 2px orange solid;
    color: black;
    border-radius: 5px;
    margin-left: 20px;
}

.hero-right{
    width: 50%;
    position: relative;
}

.hero-right img{
    width: 100%;
    border-radius: 20px;
}

.rating-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    left: -65px;
}

.fa-star{
    color: orange;
    font-size: 20px;
}




section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-lef{
    width: 50%;
}

.about-lef img{
    width: 80%;
    border-radius: 20px;
    margin-left: 170px;
}


.about-right{
    width: 50%;
    margin-left: 80px;
}

.about-right h2{
    color: rgb(121, 115, 115);
    font-size: 15px;
    padding-bottom: 10px;
}

.about-right h1{
    width: 70%;
    padding-bottom: 20px;
    padding-top: 10px;
}

.about-right p{
    font-size: 15px;
    width: 80%;
    padding-bottom: 20px;
}

.about-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about-box div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(240, 232, 216);
      border-radius: 10px;
      height: 40px;
}

.fa-wifi{
    color: orange;
    margin-left: 10px;
}

.fa-utensils{
    color: orange;
    margin-left: 10px;
}

.fa-bed{
    color: orange;
    margin-left: 10px;
}

.about-box div p{
    margin-left: 10px;
    padding-inline: 5px;
    margin-right: 5px;
    padding-top: 20px;
}